@import url(fontawesome-all.min.css);
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #242943;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	color: white;
	margin: 0 auto;
}

header {
	position: fixed;
	background-color: #2a2f4a;
	box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.15);
	height: 60px;
	z-index: 10000;
}

.headerText {
	margin-left: 1rem;
	font-size: 0.8em;
	font-weight: 600;
	line-height: 60px;
	letter-spacing: 0.25em;
}

.headerExit {
	font-size: 25px;
}

.headerText:hover {
	color: #9bf1ff;
}

.headerExit:hover {
	color: #9bf1ff;
}

/* Icons */

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 1em 0 0;
}

ul.icons li:last-child {
	padding-right: 0;
}

@media screen and (max-width: 736px) {
	ul.icons li {
		padding: 0 0.75em 0 0;
	}
}

/* Icon */

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}

.icon:before {
	line-height: inherit;
}

.icon.solid:before {
	font-weight: 900;
}

.icon.brands:before {
	font-family: 'Font Awesome 5 Brands';
}

.icon.alt:before {
	/* background-color: #ffffff; */
	border-radius: 100%;
	color: #242943;
	display: inline-block;
	height: 2em;
	line-height: 2em;
	text-align: center;
	width: 2em;
}

a.icon.alt:before {
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}

a.icon.alt:hover:before {
	background-color: #6fc3df;
}

a.icon.alt:active:before {
	background-color: #37a6cb;
}

@media only screen and (max-width: 500px) {
	#middleHeader {
		display: none;
	}
}